.Topics {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.topic-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  max-height: fit-content;
  /* box-shadow: 0 1px 2px 0 #b1b1b1; */
  box-shadow: #00000026 1.95px 1.95px 2.6px;
  margin-bottom: 10px;
  padding: 1% 0;
  line-height: 1.5rem;
}

.topic-box > :not(:last-child, .flair-text, .topic-content) {
  margin-bottom: 1vmin;
}

.post-title,
.post-author,
.flair-text {
  margin: 0 2%;
}

.post-author {
  color: #525252;
  display: flex;
  align-items: center;
}

.post-author > :not(.avatar) {
  margin-right: 1%;
}

.post-author span {
  font-size: calc(10px + 0.4vmin);
}

.flair-text {
  font-size: 10px;
  color: white;
  font-weight: 500;
  background-color: #4770f8;
  width: fit-content;
  padding: 0 6px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: calc(5px + 0.5vmin);
}

.topic-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
}

.topic-content > :not(.img-container) {
  margin: 0 2%;
}

.topic-content a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-container {
  max-width: 100%;
  height: auto;
  text-align: center;
}

.compact-img,
.full-img {
  max-width: 100%;
  border-radius: 2px;
}

.compact-img {
  max-height: 700px;
  object-fit: cover;
}

.full-img {
  height: auto;
}

.info {
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #525252;
  margin: 0 1%;
  height: 40px;
}

.info img {
  width: 20px;
  margin-right: 5px;
}

.comment-info,
.comment-info-off,
.upvote-info {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-info, .comment-info-off {
  border-radius: 5px;
  padding: 3px;
}

.comment-info .icon, .comment-info-off .icon {
  font-size: 20px;
  margin-right: 5px;
}

.upvote-info {
  margin-left: auto;
}

.upvote-info span {
  margin: 0 2px;
}

.comment-info:hover {
  cursor: pointer;
  background-color: #eef0f2;
}

p {
  max-width: 100%;
}

.short {
  max-height: 200px;
  overflow: hidden;
}

.video-container {
  position: relative;
  padding-top: calc(var(--aspect-ratio, 0.5625) * 100%);
  background-color: black;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.yt-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.yt-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .compact-img {
    max-height: 60vh;
    object-fit: contain;
  }

  .topic-box {
    border-radius: 15px;
  }

  .img-container {
    margin: 0 2%;
  }

  .info {
    margin: 0 2%;
  }
}

.vote-up, .vote-down {
  color: #525252;
  transition: all 0.3s ease-out;
  font-size: 28px;
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
}

.vote-up:hover, .vote-down:hover {
  cursor: pointer;
  background-color: #eef0f2;
}

.vote-up:hover {
  color:#01cf01;
}


.vote-down:hover {
  color: #fa3333;
}

.icon::before {
  vertical-align: middle;
}