.Main {
    display: flex;
    flex-direction: column;
    margin: 3vmin calc(10px + 0.5vmin) 0 calc(10px + 0.5vmin);
}

.categories, .toplist {
    margin-top: 7vh;
}

.categories ul, .toplist ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.toplist ul {
    align-items: flex-end;
}

.categories li, .toplist li {
    cursor: pointer;
    list-style: none;
    font-size: calc(10px + 1vmin);
    width:fit-content;
    line-height: 2em;
    margin-bottom: 1.5vmin;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.categories li:hover {
    color: orangered;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.currentCategory {
    display: flex;
    margin: 2vh 0;
    padding: 1%;
    font-size: 22px;
    font-weight: 600;
}

.icon {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
}

#funny {
    background-image: url('http://localhost:3000/img/funny.png');
}

#ask {
    background-image: url('http://localhost:3000/img/ask.png');
}

#gaming {
    background-image: url('http://localhost:3000/img/gaming.png');
}

#aww {
    background-image: url('http://localhost:3000/img/aww.png');
}

#pics {
    background-image: url('http://localhost:3000/img/pics.png');
}

#music {
    background-image: url('http://localhost:3000/img/music.png');
}

#videos {
    background-image: url('http://localhost:3000/img/videos.jpg');
}

.nav-container, .search-container {
    width: 100%;
    background-color: white;
    margin-bottom: 3vmin;
    height: calc(5px + 10vmin);
    border-radius: 10px;
    max-height: 80px;
}

nav {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}
  
nav span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 10px;
    font-size: calc(12px + 2vmin);
}
  
 nav span:hover{
    cursor: pointer;
}

form {
    display: flex;
    height: 100%;
    align-items: center;
}

input {
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: calc(15px + 1vmin);
    padding-left: 2vmin;
}

input:focus {
    outline: none;
}

button {
    width: calc(50px + 3vmin);
    height: 100%;
    background-image: url('http://192.168.0.112:3000/img/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #e4e4e4;
}

@media screen and (min-width: 1024px) {
    .Main {
        margin-left: 20%;
        margin-right: 20%;
    }
}