.Main {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.content-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.currentCategory {
  display: flex;
  margin: 2vh 0;
  padding: 1%;
  font-size: 22px;
  font-weight: 600;
}

.icon {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}

.nav-container {
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  height: calc(5px + 10vmin);
  max-height: 50px;
  display: flex;
  overflow: hidden;
  padding: 0 2%;
  /* box-shadow: 0 1px 2px 0 #b1b1b1; */
  box-shadow: #00000026 1.95px 1.95px 2.6px;
}

nav {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

nav span {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 500;
  font-size: calc(12px + 2vmin);
  border-bottom: 4px solid transparent;
  user-select: none;
  justify-content: center;
}

nav span:hover {
  cursor: pointer;
  border-bottom: 4px solid #ff4500;
}

select {
  height: 100%;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: calc(12px + 2vmin);
  font-weight: 500;
  color: #383838;
  width: auto;
  font-family: inherit;
  cursor: pointer;
  line-height: inherit;
  text-align-last: center;
  border-bottom: 4px solid transparent;
  flex-grow: 0;
  margin-left: -10px;
  user-select: none;
}

select:hover {
  border-bottom: 4px solid #ff4500;
}

.separator {
  width: 3px;
  height: 3px;
  background-color: #525252;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  .Main {
    margin-left: 25%;
    margin-right: 25%;
  }

  nav span {
    font-size: calc(12px + 1vmin);
  }

  select {
    font-size: calc(12px + 1vmin);
  }

  .nav-container {
    border-radius: 20px;
  }

}

.more-button-container, .back-button-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.more-button-container {
  margin-bottom: 10px;
}

.back-button-container {
  margin-bottom: 10px;
}

#loading {
  margin: 0 auto;
}

#loading-img {
  background-image: url('../img/loading.svg');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.red-button {
  color: white;
  font-weight: 600;
  text-shadow: #00000026 1.95px 1.95px 2.6px;
  height: 30px;
  width: fit-content;
  padding: 1% 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;
  background-color: #ec0d43;
  background-image: linear-gradient(0deg, #ec0d43 0%, #ff4500 100%);
  box-shadow: #0000003f 1.95px 1.95px 2.6px;
}

.red-button:active {
  transform: scale(0.98);
}

#more-button {
  margin: 0 auto;
  width: 150px;
  height: 40px;
}

#back-button{
  margin-left: 1%;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  filter: drop-shadow(1.95px 1.95px 2.6px #00000026);
  margin-right: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.hidden {
  display: none;
}