.post-box {
  width: 100%;
  margin: 2% 0;
  border: 1px solid rgb(207, 207, 207);
  background-color: white;
}

.comments-box {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  position: relative;
}

#back-button {
  padding: 1% 3%;
  height: 30px;
  margin-left: 1%;
}

.comments-box > :not(:last-child) {
  margin-bottom: 0.75rem;
}

.comments-box > .comment {
  margin-right: 1.2rem;
}

.comment {
  max-width: 100%;
  margin-left: 0.75rem;
  margin-top: 0.75rem;
}

.comment-body img {
  width: 100% !important;
  height: auto;
}

.comment-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 0.85rem;
}

.author-info {
  font-size: 12px;
  color: #525252;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.author-info > :not(.avatar) {
  margin-right: 1%;
}

.author-name {
  font-weight: 500;
}

.post-box video {
  max-height: 50vh;
  max-width: fit-content;
}

blockquote {
  background-color: #eef0f2;
  border-left: 4px solid grey;
  padding: 0.6em 0.5em 0.015em 1em;
  margin: 5px 0;
  font-style: italic;
  overflow: hidden;
}

pre {
  overflow: auto;
  background-color: #f6f7f8;
  padding: 1%;
}

.comment-info-container {
  display: flex;
  width: 100%;
}

.replies {
  position: relative;
  max-width: 100%;
  margin-left: 0.75rem;
  padding-top: 0.5rem;
}

.voting-buttons {
  display: flex;
  width: fit-content;
  align-items: center;
  margin-left: auto;
  font-size: 20px;
}

.comment-body {
  padding-right: 0.5rem;
  padding-left: 1.65rem;
  width: 100%;
  font-size: 15px;
}

.comment-stats {
  display: flex;
  align-items: center;
  height: 25px;
}

.score {
  font-size: 12px;
  font-weight: 600;
  color: #525252;
  padding: 0 10px;
}

.no-comments,
.error-message {
  text-align: center;
}

.error-message {
  color: rgb(230, 51, 51);
}

@media screen and (min-width: 1024px) {
  .comments-box {
    border-radius: 10px;
  }
}

.comment-body a {
  white-space: normal;
  display: inline;
  padding-right: 0;
}

.voting-buttons .vote-up,
.voting-buttons .vote-down {
  font-size: 20px;
}

.border {
  position: absolute;
  height: 100%;
  width: 2px;
  left: 0;
  padding: 0;
  margin: 0;
  border: none;
}

.border:hover {
  background-color: #ff4500;
  cursor: default;
}
