.App-logo {
  height: fit-content;
  pointer-events: none;
  max-width: 100%;
}

.logo-container {
  display: flex;
  height: auto;
  max-height: 100px;
  width: fit-content;
  margin: 0 auto;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
} */

.App-header {
  height: 20%;
  font-size: calc(10px + 2vmin);
  background-color: white;
  margin: 0;
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
