.App-header {
  display: flex;
  height: calc(20px + 10vmin);
  font-size: calc(10px + 2vmin);
  background-color: white;
  margin: 0;
  align-items: center;
  padding: 0 1vmin;
  box-shadow: 0 0px 2px 1px #b1b1b1;
  position: sticky;
  top: 0;
  z-index: 10;
  justify-content: space-between;
}

.App-logo {
  pointer-events: none;
  height: 100%;
  max-width: 100%;
}

.logo-container {
  display: flex;
  height: 100%;
}

.search-container {
  background-color: white;
  height: 100%;
  margin-left: 2%;
  flex-grow: 1;
}

form {
  display: flex;
  height: 100%;
  align-items: center;
}

input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: calc(14px + 0.5vmin);
  padding-left: 2vmin;
  background-color: #eef0f2;
  height: 50%;
}

input:focus {
  outline: none;
  /* border: 1px solid #ff4500; */
  box-shadow: 0 0 4px 0px #ff440098;
}

button {
  width: calc(50px + 3vmin);
  height: 100%;
  background-image: url('./img/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  color: transparent;
  user-select: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

button:active {
  transform: scale(1);
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
} */

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


@media screen and (min-width: 1024px) {
  .App-header {
      padding-left: 26%;
      padding-right: 25%;
      height: calc(20px + 6vmin);
  }
  .search-container {
    flex-grow: 0;
  }
}