.App-header {
  display: flex;
  height: 50px;
  font-size: calc(10px + 2vmin);
  background-color: white;
  margin: 0;
  align-items: center;
  padding: 0 1vmin;
  box-shadow: #00000026 1.95px 1.95px 2.6px;
  position: sticky;
  top: 0;
  z-index: 10;
  justify-content: space-between;
}

.main-container {
  display: flex;
}

.App-logo {
  pointer-events: none;
  height: 100%;
  max-width: 100%;
}

.logo-container {
  display: flex;
  height: 100%;
}

.search-container {
  background-color: white;
  height: 100%;
  margin: 0 2%;
  flex-grow: 1;
}

form {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}

form i {
  font-size: 18px;
  color:#525252;
}

input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: calc(14px + 0.5vmin);
  padding-left: 48px;
  background-color: #eef0f2;
  height: 70%;
  box-shadow: #00000026 1.95px 1.95px 2.6px;
  border: 1px solid transparent;
}

input::placeholder {
  font-size: 14px;
}

input:focus {
  outline: none;
  border: 1px solid rgba(0, 68, 255, 0.404);
}

#search-button {
  position: absolute;
  left: 0;
  width: 45px;
  height: 70%;
  padding: 0;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  user-select: none;
}

#search-button:hover {
  background-color: #e4e4e4;
}

#search-button:active {
  transform: translateY(1px);
}

button {
  cursor: pointer;
}


.App-link {
  color: rgb(112, 76, 182);
}

.left-navigation-bar {
  display: none;
  position: relative;
  width: 20%;
  height: 300px;
  background-color: white;
  box-shadow: #00000026 1.95px 1.95px 2.6px;
}

@media screen and (min-width: 640px) {
  .App-header {
    padding-left: 20%;
    padding-right: 20%;
    height: 4rem;
  }
  input, #search-button {
    height: 65%;
  }

  .search-container {
    flex-grow: 0;
  }
}

@media screen and (min-width: 1024px) {
  .App-header {
      padding-left: 30%;
      padding-right: 30%;
  }
}